.juttle-client-library {
    // include juttle-viz css
    @import "../node_modules/juttle-viz/styles/juttle-viz";
    @import "flexbox";
    @import "variables";

    &.views-layout {
        @include flex-grow(1);
    }

    .flex-row {
        @include flexbox;
        @include flex-direction(row);
        margin-bottom: 10px;
    }

    .flex-col {
        @include flex-grow(1);
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .form-control {
        width: 100%;
        display: block;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42;
        color: $input-color;
        background-color: $input-bg;
        border: 1px solid $input-border;
        border-radius: 4px;
    }

    &.error-view {
        font-size: 20px;
        color: red;
    }
}

// This is outside of inputs view because the calendar popup
// that react-datepicker creates is a child of the body instead
// of the element in which the react-datepicker component resides.
@import "../node_modules/react-datepicker/dist/react-datepicker";

.inputs-view {
    @import "../node_modules/react-select/dist/react-select";

    .duration-input {
        display: flex;

        input {
            width: 50%;
            margin-right: 8px;
        }

        .Select {
            width: 50%;
        }
    }
}
