.juttle-client-library {
    // include juttle-viz css
    @import "../node_modules/juttle-viz/styles/charts";
    @import "flexbox";
    @import "variables";

    &.sink-views {
        @include flex-grow(1);
    }

    .flex-row {
        @include flexbox;
        @include flex-direction(row);
        margin-bottom: 10px;
    }

    .flex-col {
        @include flex-grow(1);
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .form-control {
        width: 100%;
        display: block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42;
        color: $input-color;
        background-color: $input-bg;
        border: 1px solid $input-border;
        border-radius: 4px;
    }

    &.error-view {
        font-size: 20px;
        color: red;
    }
}

.inputs-view {
    @import "../node_modules/react-select/dist/react-select.css";
}
